
body {
    background-color: #ee7eb3;
    font-family: 'Bartex', sans-serif;
    height: 100vh;
}


.barbie {
    left: 33%;
    z-index: 3;
}

.productImage {
    width: 35vh;
    height: auto;
    left: 35%;
    right: 55%;
    top: 41%;
    z-index: 3;
    position: fixed;
}

.bottomLine {
    background-color: #e74b95;
    width: 100%;
    height: 10%; 
    position: fixed;
    bottom: 0;
    z-index: 0; 

}

.barbieCloset {
    width: 40vh;
    height: 53vh; 
    background-color: #fef1f8;
    z-index: 1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    left: 33%;
    top: 37%;
    border-radius: 50% 50% 0% 0%;

}
h2 {
    position: fixed;
    z-index: 3;
}
.accessoryWishText{
    position: fixed;
    margin-left: 135vh;
    margin-top: 15vh;
}
.accessoryPic, .accessoryPicFalse {
    left: 50%;
    z-index: 3;
    width: 8vh;
    height: auto;
    max-width: 10vh;
    padding-top: 1vh;
    margin: 0 5vh 0 0;
}

.bubble {
    left: 50vh;
    z-index: 3;
    width: 10vh;
    height: 10vh;
    background-color: #fef1f8;
    z-index: 2;
    border-radius: 10vh;
    margin-top: 2vh;
    box-shadow: 0 5px #ffd0e6;
    margin-bottom: 2vh;
    
}
.bubbleFalse {
    left: 50vh;
    z-index: 3;
    width: 10vh;
    height: 10vh;
    background-color: #fef1f8;
    z-index: 2;
    border-radius: 10vh;
    margin: 2vh;
    box-shadow: 0 5px #ffd0e6;
    margin-bottom: 2vh;
}

.bubbleOutfit {
    left: 50vh;
    z-index: 2;
    width: 15vh;
    height: 15vh;
    background-color: #fef1f8;
    border-radius: 100vh;
    box-shadow: 0 5px #ffd0e6;
    margin-top: 2vh;
    margin-bottom: 5vh;
}

.bubbleOutfitFalse {
    left: 50vh;
    z-index: 3;
    width: 15vh;
    height: 15vh;
    background-color: #fef1f8;
    z-index: 2;
    border-radius: 10vh;
    margin: 2vh;
    box-shadow: 0 5px #ffd0e6;
    margin-bottom: 5vh;
}

.outfitPic {
    z-index: 3;
    width: 10vh;
    height: auto;
}

.outfitPicFalse {
    width: 10vh;
}

#return {
    background-color: #e74b95;
    color: #fef1f8;
    border: none;
    padding: 1vh;
    border-radius: 100px;
    font-family: 'Bartex', sans-serif;
    font-weight: bold;
    font-size:medium;
    text-shadow: 0 1px #fa98c7;
    margin-left: 10vh;
    margin-top: 3vh;
    margin-bottom: 0;
    box-shadow: 0 5px #ffd0e6;
    z-index:0;
    position: fixed;
}


#return:hover {
    background-color: #e23e8b;
}

#return:active {
    background-color: #e03183;
    box-shadow: 0 2px #fdc3de;
}

.wishlistAccessories {
    display: flex;
    margin-left: 150vh;
    margin-top:21vh;
    flex-direction: column;
    overflow: auto;
    height: 60vh;
    width: 20vh;
    position: fixed;
}
.wishlistOutfits {
    display: flex;
    margin-left: 120vh;
    margin-top: 21vh;
    flex-direction: column;
    position: fixed;
    overflow: auto;
    max-height: 60vh;
    width: 25vh;
}
.accessory-container {
    position: absolute;
    overflow: visible;
}

.accessory {
    position: fixed;
    margin-left: 20vh;
    top: 50vh;
    transform: translate(-50%, -50%); 
    z-index: 3;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 60vh;
    width: 15vh;
    flex: 0 0 calc(33.33% - 20px);
}



.outfits {
    display: flex;
    margin-left: 33vh;
    margin-top: 21vh;
    flex-direction: column;
    position: fixed;
    overflow: auto;
    max-height: 60vh;
    width: 25vh;
}

h1 {
color:#b62066;
text-shadow: 0 2px #ffd0e6;
font-size: 2.9vh;
}

.accessoryText {
    position: fixed;
    margin-top: 15vh;
    margin-left: 10vh;
    z-index: 3;
}

.outfitText {
    position: fixed;
    margin-top: 15vh;
    margin-left: 34vh;
}
/* individual outfit and accessory styling */

/* gen girl barbie */
.Magazine, .Book {
    padding-top: 0;
    margin-top: 0;
}
.outfitPic.Barbie.Generation.Girl.Skirt {
    width: 15vh;
    margin-top: 2vh;
}
.bubbleOutfit.Skirt {
    margin-top: 0vh;
    
}
.outfitPic.Barbie.Generation.Girl.Jacket {
    width: 20vh;
    margin-top: 3vh;
}

.Malibu.Barbie.Shoes {
    max-width: 5vh;
    margin-left: 2vh;
}
.Necklace {
    margin-bottom: 0;
    padding-bottom: 0;
}

.Tights, .Generation.Bodysuit, .Generation.Dress {
    margin-left: 2vh;
}
.accessoryPic.Generation, .accessoryPicFalse.Generation {
    width: 7vh;
    margin-left: 1vh;
    margin-top: 1vh;
}

.Generation.Sunglasses, .Generation.Heals {
    width: 9vh;
    margin-left: .5vh;
    margin-top: 1vh;
}

.Generation.Boots {
    margin-top: 0;
}

.outfitPicFalse.Generation.Jacket {
    width: 20vh;
    margin-top: 2vh;
}
.outfitPicFalse.Generation.Skirt {
    width: 17vh;
    margin-top: 1vh;
}
/* malibu barbie */
.Malibu.Barbie.Sunglasses {
    padding-top: 2vh;
}
.Malibu.Top {
    width: 13vh;
    margin-left: 3vh;
}
.Malibu.Swimsuit {
    width: 10vh;
    margin-left: 4vh;
}
.bubbleOutfit.Malibu.Swimsuit{
    width: 18vh;
    height: 18vh;
}
.bubbleOutfit.Malibu.Top {
    width: 18vh;
    height: 18vh;
    margin-top: 3vh;
}
.bubbleOutfit.Generation {
    margin-top: 2vh;
}
/* dream date */

.accessoryPic.Dream.Date.Barbie {
    max-width: 5vh;
    margin-left: 1.5vh;
}
.Date.Barbie.Brush, .Date.Barbie.Mirror {
    padding-top: 0;
}
.Date.Gown, .Date.Wrap {
    width: 14vh;
    margin-top: 0;
    margin-left: 3vh
}
.bubbleOutfit.Date{
    width: 20vh;
    height: 20vh;
    margin-bottom: 10vh;
}

.accessoryPicFalse.Dream.Date.Barbie {
    width: 5vh;
    margin-left: 2vh;
}

/* totally hair */

.accessoryPic.Totally.Hair {
    max-width: 8vh;
}

.Totally.Hair.Book{
    max-width: 6vh;
    margin-left: 1vh;
}

.Hair.Dress {
    width: 15vh;
    margin-top: 1vh;
    margin-left: 1vh;
}

.bubbleOutfit.Hair.Dress{
    height: 15vh;
    width: 15vh;
}

.Hair.Necklace, .Hair.Headband {
    margin-top: 1vh;
}
.accessoryPicFalse.Hair{
    margin-top: 2vh;
    margin-left: 1vh;
}
.accessoryPicFalse.Hair.Book{
    margin-top: 0;
    margin-left: 2vh;
}
/* rapunzel */
.outfitPic.Rapunzel, .outfitPicFalse.Rapunzel {
    width: 18vh;
    margin-left: 0;
}
.outfitPicTrue.Rapunzel.Gown, .outfitPicFalse.Rapunzel.Gown {
    margin-top: 2vh;
}
.accessoryPic.Rapunzel, .accessoryPicFalse.Rapunzel{
    width: 23vh;
}
/* fashionista sweetie */
.accessoryPic.Sweetie, .accessoryPicFalse.Sweetie {
    width: 5vh;
    margin-left: 1vh;
}

.accessoryPic.Sweetie.Bow.Heals, .accessoryPicFalse.Sweetie.Bow.Heals  {
    margin-top: 1vh;
    width: 8vh;
    margin-left: 0;
}
 .Sweetie.Necklace{
    width: 7vh;
    margin-top: 0vh;
}

.accessoryPic.Sweetie.Purse, .accessoryPicFalse.Sweetie.Purse {
    margin-left: 2vh;
}

.outfitPic.Sweetie.Original, .outfitPicFalse.Sweetie.Original{
    /* margin-top: 25vh; */
    margin-left: 1vh;
}
.Sweetie.Halter {
    margin-left: 2vh;
}
.Sweetie.Jacket {
    width:17vh;
}
.Sweetie.Turtleneck, .Sweetie.Striped{
    width: 13vh;
    margin-left: 1vh;
}
.bubbleOutfit.Sweetie, .bubbleOutfitFalse.Sweetie {
    height: 15vh;
    width: 15vh;
}


/* end accessory and outfit styling */

.outfits::-webkit-scrollbar-track {
    background-color: rgba(255, 0, 170, 0); 
    border-radius: 10px;
}
.outfits::-webkit-scrollbar-thumb {
    background-color: rgba(139, 23, 100, 0); 
    border-radius: 10px; 
}
.outfits::-webkit-scrollbar {
    width: 6px; 
}
.outfits::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 0, 170, 0);
    width: 6px;
}
.accessory::-webkit-scrollbar-track {
    background-color: rgba(255, 0, 170, 0); 
    border-radius: 10px;
}
.accessory::-webkit-scrollbar-thumb {
    background-color: rgba(139, 23, 100, 0); 
    border-radius: 10px; 
}
.accessory::-webkit-scrollbar {
    width: 6px; 
}
.accessory::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 0, 170, 0);
    width: 6px;
}

.wishlistOutfits::-webkit-scrollbar-track {
    background-color: rgba(255, 0, 170, 0); 
    border-radius: 10px;
}
.wishlistOutfits::-webkit-scrollbar-thumb {
    background-color: rgba(139, 23, 100, 0); 
    border-radius: 10px; 
}
.wishlistOutfits::-webkit-scrollbar {
    width: 6px; 
}
.wishlistOutfits::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 0, 170, 0);
    width: 6px;
}
.wishlistAccessories::-webkit-scrollbar-track {
    background-color: rgba(255, 0, 170, 0); 
    border-radius: 10px;
}
.wishlistAccessories::-webkit-scrollbar-thumb {
    background-color: rgba(139, 23, 100, 0); 
    border-radius: 10px; 
}
.wishlistAccessories::-webkit-scrollbar {
    width: 6px; 
}


.bubble:active, .bubbleFalse:active, .bubbleOutfit:active, .bubbleOutfitFalse:active {
    box-shadow: 0 2px #ffd0e6;
}

