@font-face {
    font-family: 'Bartex';
    src: url('../barbie_dream_closet_api/fonts/Bartex-Regular.ttf') format('.tff')
}

body {
    background-color: #ee7eb3;
    font-family: 'Bartex', sans-serif;
}

.dreamHouse {
    background-image: url("/images/barbieDream4.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 700px;
    height: 1020px; 
    max-width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
}

.bottomLine {
    background-color: #e74b95;
    width: 100%;
    height: 10%; 
    position: fixed;
    bottom: 0;
    z-index: 0; 
}

.barbies {
    position: fixed;
    top: 50%; 
    left: 52%;
    transform: translate(-50%, -50%); 
    display: flex; 
    flex-wrap: wrap; 
    align-items: center; 
    width: 100%;
    max-width: 50rem;
    z-index: 3;
    
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
}


img {
    max-width: calc(33.33% - 1rem);
    max-height: auto; 
    margin-bottom: 3rem;
    margin-top: 1rem;
    max-width: 15rem; 
    max-height: auto;
    width: 50%;
    height: 100%; 
}

.barbieDesc {
    position: fixed;
    background-image: url("../images/barbiedesc.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 28%;
    height: 1020px; 
    max-width: 80%;
    max-height: 100%;
    top: 60%;
    left: 15%;
    transform: translate(-50%, -50%);
    z-index: 3; 
    overflow: auto;
    display: none;
}

#closetLink {
    background-color: #e74b95;
    color: #fef1f8;
    border: none;
    padding: 3%;
    border-radius: 100px;
    font-family: 'Bartex', sans-serif;
    font-weight: bold;
    font-size:medium;
    text-shadow: 0 1px #fa98c7;
    margin-left: 40%;
    box-shadow: 0 5px #ffd0e6;
}


#closetLink:hover {
    background-color: #e23e8b;
}

#closetLink:active {
    background-color: #e03183;
    box-shadow: 0 2px #fdc3de;
}

#description {
    overflow: auto;
    padding: 10px;
    width: 50%;
    max-width: 100%;
    height: 10%;
    max-height: 100%;
    text-align: center;
    font-size: medium;
    font-family: "Sniglet", system-ui;
    display: flex;
    margin-left: 25%;
    margin-top: 0%;
    padding-top: 0.5%;
    color: #67abdc;
}
#description::-webkit-scrollbar-track {
    background-color: rgba(255, 0, 170, 0.033); 
    border-radius: 10px;
}
#description::-webkit-scrollbar-thumb {
    background-color: rgba(255, 0, 170, 0.033); 
    border-radius: 10px; 
}
#description::-webkit-scrollbar {
    width: 6px; 
}
#description::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 0, 170, 0.649);
    width: 6px;
}

#productName {
    margin-top: 30%;
    text-align: center;
    margin-bottom:2%;
    font-size: 25px;
    word-wrap: normal;
    color: #2e8fd5;
    text-shadow: 0 1px #8facc1;
}
#releaseYear {
    padding-top: 0;
    margin-top:0;
    text-align: center;
    margin-bottom: 0;
    font-size: 22px;
    color: #e385d3;
    font-family: "Sniglet", system-ui;
    font-weight: 500;
    font-style: normal;
}

#closeDesc {
    position: fixed;
    z-index: 5;
    background-color: rgba(255, 0, 170, 0);
    border: none;
    font-size: 60px;
    font-family: "Sniglet", system-ui;
    font-weight: 800;
    font-style: normal;
    color:#fdc3de;
    text-shadow:0 5px #e03183;
    margin-top: 10%;
    margin-left: 70%;
    width: 10%;
}

#closeDesc:hover {
    color:#fabdda;
}

#closeDesc:active {
    color: #fdaad1;
    text-shadow:0 2px #e03183;
}
@media screen and (max-width: 500px){
    .dreamHouse {
        width: 95%;
        height: 100%;
    }
    .bottomLine {
    display: none;
    }

}

@media screen and (max-width: 900px) {
    .dreamHouse {
        width: 80%;
    }
.bottomLine{
    height: 25%;
}
}

@media screen and (max-width: 1200px) {
    .barbies {
        left: 53%;
    }
    #releaseYear, #productName{
        font-size: medium;
    }

    #productName {
        margin-top: 29%;
    }
    #description{
        font-size: small;
        height: 10%;
    }
    #closetLink {
        margin-top: 15%;
        margin-left: 34%;
    }
    #closeDesc {
        font-size: 30px;
    }
}